<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="form-heading">
                Create and account
              </h1>
              <%= form_with model: @user, url: registration_path, class: "space-y-4 md:space-y-6" do |f| %>
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                      <%= f.email_field :email, class: "text-field", placeholder: "name@company.com", id: "user-email" %>
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                      <%= f.password_field :password, class: "text-field", placeholder: "••••••••", id: "user-password" %>
                  </div>
                  <%= f.submit "Create an account", class: "submit", id: "user-submit" %>
                  <p class="dimmed-text">
                    Already have an account? <a href="#" class="link">Log in</a>
                  </p>
              <% end %>
          </div>
      </div>
  </div>
</section>