@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .form-heading {
    @apply text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white;
  }
  .text-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .submit {
    @apply w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
  }

  .dimmed-text {
    @apply text-sm font-light text-gray-500 dark:text-gray-400;
  }

  .link {
    @apply font-medium text-primary-600 hover:underline dark:text-primary-500;
  }
}


